<% if @user.role == 'Reseller' %>
  <h2>Edit Reseller</h2>
<% elsif @user.role == 'User' %>
  <h2>Edit User</h2>
<% else %>
  <h2>Edit Profile</h2>
<% end %>

<%= form_for @user, url: user_path(@user), html: {method: :patch} do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br/>
    <%= f.email_field :email, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :name %><br/>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :owner_id %><br/>
    <%= f.number_field :owner_id %>

    <% if false %>
      <% if @user.role == 'User' %>
        <%= f.label :owner_id %><br/>
        <%= f.collection_select(:owner_id, User.where(role: "Reseller"), :owner_id, lambda {|i| i.id}) %>
      <% elsif @user.role == 'Reseller' %>
        <%= f.collection_select(:owner_id, User.where(role: "Admin"), :owner_id, lambda {|i| i.id}) %>
        </div>
      <% end %>
    <% end %>

    <!--
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>-->
      <!--<div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>-->
      <!--
  <% end %>-->

    <div class="field">
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br/>
      <%= f.password_field :password, autocomplete: "off" %>
      <% if @minimum_password_length %>
        <br/>
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br/>
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit "Update" %>
    </div>
<% end %>

<%= link_to "Back", :back %> |   <%= link_to 'Destroy', user_path(current_user), method: :delete, data: {confirm: 'Are you sure?'} %>

