<%= form_for @upload, url: upload_update_path(upload) do |form| %>
  <p> <%= form.file_field :video %></p>
  <br>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, autofocus: true %>
  </div>
  <br>
  <%= form.submit %>
<% end %>