<h1>Video Library</h1>
<% if current_user.role != 'User' %>
  <%= link_to "View Users", user_index_path %>
<% end %>
<br>

<%= link_to 'New upload', new_upload_path %>
<br>
<%= collection_select(:post, :user_id, User.all,
                      :id, :name,
                      {:prompt => 'Filter by'}) %>

<br>
<% @uploads.each do |upload| %>

  <div class="floating-box">
    <% if false %>
      <%= link_to video_tag(upload.video.url(:medium), autobuffer: false, size: "300x200"), upload_path(upload) %>

    <% end %>
    <%= link_to image_tag(upload.video.url(:thumb), size: "200x180"), upload_path(upload) %>
    <div class="video-name">
     <b> <%= upload.name %> </b><br>
      <%= upload.user.name %> <br>
      <%= upload.hit_counter %> Views <br>
      <%= upload.created_at.strftime("%m/%d/%Y") %>
    </div>


  </div>
<% end %>