<!DOCTYPE html>
<html>
  <head>
    <title>Tubeflix</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  
  <body>
  <%  if user_signed_in? %> 
  <p> Logged in with: <%= current_user.email %> </p>
  <% end %>
    <%= yield %>
    


  <% if current_user %>
  <%= button_to 'Log out', destroy_user_session_path, method: :delete %>
  <% end %>
   <!-- flash messages; ako imam greshka rails pyha v notice -->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <hr>
  </body>
</html>
